# GitHub CODEOWNERS file for Cirq.

#### Overall Cirq maintainers ####

* @quantumlib/cirq-maintainers

#### Cirq docs maintainers ####

docs/**/*.* @quantumlib/cirq-maintainers @quantumlib/cirq-contributors
docs/tutorials/google/**/*.* @quantumlib/cirq-maintainers @quantumlib/cirq-contributors @wcourtney @verult @hoisinberg
docs/noise/qcvv/**/*.* @quantumlib/cirq-maintainers @quantumlib/cirq-contributors @mrwojtek

#### Hardware module maintainers ####

cirq-google/**/*.* @quantumlib/cirq-maintainers @wcourtney @verult @hoisinberg
docs/google/**/*.* @quantumlib/cirq-maintainers @wcourtney @verult @hoisinberg

cirq-aqt/**/*.*          @quantumlib/cirq-maintainers @quantumlib/cirq-aqt-contributors
docs/hardware/aqt/**/*.* @quantumlib/cirq-maintainers @quantumlib/cirq-aqt-contributors

cirq-ionq/**/*.*          @quantumlib/cirq-maintainers @quantumlib/cirq-ionq-contributors
docs/hardware/ionq/**/*.* @quantumlib/cirq-maintainers @quantumlib/cirq-ionq-contributors

cirq-pasqal/**/*.*          @quantumlib/cirq-maintainers @quantumlib/cirq-pasqal-contributors
docs/hardware/pasqal/**/*.* @quantumlib/cirq-maintainers @quantumlib/cirq-pasqal-contributors

docs/hardware/azure-quantum/**/*.* @quantumlib/cirq-maintainers @quantumlib/cirq-azure-contributors

#### Experiments maintainers ####

cirq-core/cirq/experiments/**/*.* @quantumlib/cirq-maintainers @mrwojtek
