# Copyright 2025 The Cirq Developers
#
# Licensed under the Apache License, Version 2.0 (the "License");
# you may not use this file except in compliance with the License.
# You may obtain a copy of the License at
#
#     https://www.apache.org/licenses/LICENSE-2.0
#
# Unless required by applicable law or agreed to in writing, software
# distributed under the License is distributed on an "AS IS" BASIS,
# WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
# See the License for the specific language governing permissions and
# limitations under the License.

root = true

# We mostly follow Google style guides (https://google.github.io/styleguide/)
# with only a few deviations for line length and indentation in some files.

# IMPORTANT: some of the other config files (.clang-format, etc.) also have
# the same settings and need to be updated if changes are made to this file.
[*]
charset = utf-8
indent_style = space
insert_final_newline = true
spelling_language = en-US
trim_trailing_whitespace = true
max_line_length = 100

[{*.ts,*.js}]
indent_size = 2

[*.json]
indent_size = 2

[*.py]
indent_size = 4

[*.sh]
indent_size = 4

[*.toml]
indent_size = 4

[{*.yaml,*.yml,*.cff}]
indent_size = 2
