# Mark generated protobuf files to be collapsed by default in PRs
# See: https://github.com/github/linguist/#generated-code
*_pb2.py         linguist-generated=true
*_pb2.pyi        linguist-generated=true

# Cirq-web javascript bundles generated using check/ts-build
*.bundle.js      linguist-generated=true
