# ignore compiled python files
__pycache__
*.pyc

# ignore idea SDK
.idea/*
.vscode

# ignore cache
.cache/*
.mypy_cache/*
.pytest_cache/*

# ignore coverage files
*.py,cover
*.coverage
*.coverage.*

# packaging
*.egg-info/
build/

# Sphinx
_build
rtd_docs/generated

# API docs
docs/api_docs

# swap files
*.swp

# Mac only
.DS_Store

# From asv
*.asv/

# Ignore generated Jupyter files
*.ipynb_checkpoints/

# Ignore Bazel files
/bazel-*

# Default pycharm virtual env
.venv/

# pyenv configuration
.python-version

# notebook test output
out
