[tool.black]
line-length = 100
target_version = ['py37', 'py38', 'py39']
skip-string-normalization = true
skip-magic-trailing-comma = true

[tool.pytest.ini_options]
filterwarnings = [
    "ignore:Matplotlib is currently using agg:UserWarning",
]
