# Runtime requirements for the python 3 version of cirq.

google-api-python-client~=1.6
matplotlib~=2.2
networkx~=2.1
numpy~=1.14
protobuf~=3.5
requests~=2.18
sortedcontainers~=2.0
scipy
typing_extensions
