# Runtime requirements for the python 3 version of cirq.

dataclasses; python_version < '3.7'
google-api-core[grpc] >= 1.14.0, < 2.0.0dev
matplotlib~=3.0
networkx~=2.4
numpy~=1.16
pandas
protobuf==3.8.0
requests~=2.18
sortedcontainers~=2.0
scipy
sympy
typing_extensions
