# Runtime requirements for the python 3 version of cirq.

attrs>=21.3.0
duet>=0.2.8
matplotlib~=3.7
networkx>=2.4
numpy>=1.25
pandas~=2.0
sortedcontainers~=2.0
scipy~=1.11
sympy
typing_extensions>=4.2
tqdm
