[config]
max-line-length=80
disable=all
ignore-patterns=.*_pb2\.py
output-format=colorized
score=no
reports=no
enable=
    assert-on-tuple,
    bad-indentation,
    bad-option-value,
    bad-reversed-sequence,
    bad-super-call,
    consider-merging-isinstance,
    continue-in-finally,
    dangerous-default-value,
    duplicate-argument-name,
    expression-not-assigned,
    function-redefined,
    inconsistent-mro,
    init-is-generator,
    line-too-long,
    lost-exception,
    missing-kwoa,
    mixed-indentation,
    mixed-line-endings,
    not-callable,
    no-value-for-parameter,
    nonexistent-operator,
    not-in-loop,
    pointless-statement,
    redefined-builtin,
    relative-import,
    return-arg-in-generator,
    return-in-init,
    return-outside-function,
    simplifiable-if-statement,
    syntax-error,
    too-many-function-args,
    trailing-whitespace,
    undefined-variable,
    unexpected-keyword-arg,
    unhashable-dict-key,
    unnecessary-pass,
    unreachable,
    unrecognized-inline-option,
    unused-import,
    unnecessary-semicolon,
    unused-variable,
    unused-wildcard-import,
    wildcard-import,
    wrong-import-order,
    wrong-import-position,
    yield-outside-function

# Ignore long lines containing urls or pylint directives.
ignore-long-lines=^(.*#\w*pylint: disable.*|\s*(# )?<?https?://\S+>?)$
