[MAIN]
load-plugins=pylint.extensions.docstyle,pylint.extensions.docparams,pylint_copyright_checker
max-line-length=100
disable=all
ignore-paths=cirq-google/cirq_google/cloud/.*
ignore-patterns=.*_pb2\.py
output-format=colorized
score=no
reports=no
enable=
    abstract-class-instantiated,
    anomalous-backslash-in-string,
    assert-on-tuple,
    assignment-from-no-return,
    bad-chained-comparison,
    bad-indentation,
    bad-mcs-classmethod-argument,
    bad-mcs-method-argument,
    bad-option-value,
    bad-reversed-sequence,
    bad-super-call,
    consider-merging-isinstance,
    consider-using-f-string,
    continue-in-finally,
    dangerous-default-value,
    deprecated-decorator,
    docstyle,
    duplicate-argument-name,
    expression-not-assigned,
    f-string-without-interpolation,
    function-redefined,
    inconsistent-mro,
    init-is-generator,
    line-too-long,
    lost-exception,
    method-hidden,
    missing-kwoa,
    missing-param-doc,
    missing-raises-doc,
    mixed-line-endings,
    no-value-for-parameter,
    nonexistent-operator,
    not-in-loop,
    pointless-statement,
    raising-bad-type,
    raising-format-tuple,
    redefined-builtin,
    redefined-slots-in-subclass,
    return-arg-in-generator,
    return-in-init,
    return-outside-function,
    self-cls-assignment,
    shadowed-import,
    simplifiable-condition,
    simplifiable-if-statement,
    singleton-comparison,
    too-many-function-args,
    trailing-whitespace,
    undefined-variable,
    unexpected-keyword-arg,
    unhashable-dict-key,
    unnecessary-pass,
    unnecessary-semicolon,
    unneeded-not,
    unreachable,
    unrecognized-inline-option,
    unused-import,
    unused-variable,
    unused-wildcard-import,
    use-maxsplit-arg,
    useless-suppression,
    using-constant-test,
    wildcard-import,
    wrong-import-order,
    wrong-import-position,
    wrong-or-nonexistent-copyright-notice,
    yield-outside-function

# Ignore long lines containing urls or pylint directives.
ignore-long-lines=^(.*#\w*pylint: disable.*|\s*(# )?[<\[\(]?https?://\S+[>\]\)]?)$
