name: Cancel

on:
  workflow_run:
    workflows: ["Continuous Integration"]
    types:
      - requested

jobs:
  cancel:
    runs-on: ubuntu-20.04
    steps:
    - uses: styfle/cancel-workflow-action@0.9.0
      with:
        workflow_id: ${{ github.event.workflow.id }}