name: Continuous Integration - Daily

on:
  schedule:
    # Checks out main by default.
    - cron: '0 0 * * *'

concurrency:
  group: ${{ github.workflow }}
  cancel-in-progress: true

# Declare default permissions as read only.
permissions: read-all

jobs:
  pytest:
    if: github.repository_owner == 'quantumlib'
    name: Pytest Ubuntu
    strategy:
      matrix:
        python-version: ['3.11', '3.12', '3.13']
    runs-on: ubuntu-22.04
    steps:
      - uses: actions/checkout@11bd71901bbe5b1630ceea73d27597364c9af683 # v4
      - uses: actions/setup-python@a26af69be951a213d495a4c3e4e4022e16d87065 # v5
        with:
          python-version: ${{ matrix.python-version }}
          architecture: 'x64'
          cache: 'pip'
          cache-dependency-path: |
            **/requirements.txt
            dev_tools/requirements/**/*.txt
      - name: Install requirements
        run: |
          pip install --upgrade cirq~=1.0.dev &&
            pip install \
              -r dev_tools/requirements/deps/pylint.txt \
              -r dev_tools/requirements/deps/pytest.txt \
              -r dev_tools/requirements/deps/notebook.txt
      - name: Pytest check
        run: check/pytest -n auto --ignore=cirq-core/cirq/contrib --enable-slow-tests
  windows:
    if: github.repository_owner == 'quantumlib'
    name: Pytest Windows
    strategy:
      matrix:
        python-version: ['3.11', '3.12', '3.13']
    runs-on: windows-2022
    steps:
      - uses: actions/checkout@11bd71901bbe5b1630ceea73d27597364c9af683 # v4
      - uses: actions/setup-python@a26af69be951a213d495a4c3e4e4022e16d87065 # v5
        with:
          python-version: ${{ matrix.python-version }}
          architecture: 'x64'
          cache: 'pip'
          cache-dependency-path: |
            **/requirements.txt
            dev_tools/requirements/**/*.txt
      - name: Install requirements
        run: |
          pip install --upgrade cirq~=1.0.dev &&
            pip install -r dev_tools/requirements/deps/pylint.txt &&
            pip install -r dev_tools/requirements/deps/pytest.txt &&
            pip install -r dev_tools/requirements/deps/notebook.txt
      - name: Pytest Windows
        run: check/pytest -n auto --ignore=cirq-core/cirq/contrib --enable-slow-tests
        shell: bash
  macos:
    if: github.repository_owner == 'quantumlib'
    name: Pytest MacOS
    strategy:
      matrix:
        python-version: ['3.11', '3.12', '3.13']
    runs-on: macos-13
    steps:
      - uses: actions/checkout@11bd71901bbe5b1630ceea73d27597364c9af683 # v4
      - uses: actions/setup-python@a26af69be951a213d495a4c3e4e4022e16d87065 # v5
        with:
          python-version: ${{ matrix.python-version }}
          architecture: 'x64'
          cache: 'pip'
          cache-dependency-path: |
            **/requirements.txt
            dev_tools/requirements/**/*.txt
      - name: Install requirements
        run: |
          pip install --upgrade cirq~=1.0.dev &&
            pip install \
              -r dev_tools/requirements/deps/pylint.txt \
              -r dev_tools/requirements/deps/pytest.txt \
              -r dev_tools/requirements/deps/notebook.txt
      - name: Pytest check
        run: check/pytest -n auto --ignore=cirq-core/cirq/contrib --enable-slow-tests
