name: Pre-release cirq to PyPi

on:
  push:
    branches:
      - main

# Declare default permissions as read only.
permissions: read-all

jobs:
  push_to_pypi:
    if: github.repository == 'quantumlib/Cirq'
    name: Push to PyPi
    runs-on: ubuntu-22.04
    env:
      NAME: dev-release
    steps:
      - uses: actions/checkout@08c6903cd8c0fde910a37f88322edcfb5dd907a8 # v5.0.0
      - uses: actions/setup-python@e797f83bcb11b83ae66e0230d6156d7c80228e7c # v5
        with:
          python-version: '3.11'
          architecture: 'x64'
      - name: Install dependencies
        run: |
          python -m pip install --upgrade pip
          pip install --upgrade setuptools wheel twine
      - name: Create PYPI config file
        env:
          CIRQ_PYPI_TOKEN: ${{ secrets.CIRQ_PYPI_TOKEN }}
          CIRQ_TEST_PYPI_TOKEN: ${{ secrets.CIRQ_TEST_PYPI_TOKEN }}
        run: |
          envsubst < dev_tools/packaging/pypirc_template > $HOME/.pypirc
      - name: Build and publish
        run: |
          CIRQ_PRE_RELEASE_VERSION=$(dev_tools/packaging/generate-dev-version-id.sh)
          [[ "$CIRQ_PRE_RELEASE_VERSION" =~ .*dev.* ]] && echo "Deploying dev version '$CIRQ_PRE_RELEASE_VERSION'" || (echo "not dev version"; exit 1)
          out_dir="${PWD}/dist"
          dev_tools/packaging/produce-package.sh ${out_dir} $CIRQ_PRE_RELEASE_VERSION
          twine upload "${out_dir}/*"
